* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 4rem;
    gap: 1rem;
    /* grid-template-columns: 2fr 1fr 1fr; */
    /* grid-template-rows: 2fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.item {
    background-color: rgb(68, 67, 67);
    border: 1px solid salmon;
    color: white;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
}

@media (min-width: 768px) {

.container {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

/* .footer {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
} */
}